{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 style="padding: 50px 0px; color:#ddd">Biz Kimiz ?</h1>
    <p style="color:#ddd">Bu projedeki amacımız otoparklarda güvenli bir giriş sistemi oluşturmaktır. Oluşturduğumuz bu site sayesinde kullanıcılar araçlarının plakalarını sisteme dahil ederek otoparklarındaki giriş yapan araçları kontrol edebilme yetkisine sahip olacaktır. Bu projeyi Ayşe Nur Ekentok ve Enes Karacabay isimli iki öğrenci olarak bitirme projesi olarak yapmaktayız. Yıldız Teknik Üniversitesi Elektronik ve Haberleşme son sınıf öğrencileriyiz.
    </p>
</div>

{% endblock content %}
